{#
| Variable      | Type   | Description              |
|---------------|--------|--------------------------|
| items[]       | array  | List of store features   |
| items[].title | string | Feature label            |
| position      | Int    | Sorting number           |
#}
<div class="lux-trust-bar">
  <div class="marquee-container">
    <div class="marquee-content lux-trust-bar__track">
      {% for item in items %}
        <span class="lux-trust-bar__item">
          {{ item.title }}
          <span class="lux-trust-bar__dot">✦</span>
        </span>
      {% endfor %}
      {% for item in items %}
        <span class="lux-trust-bar__item">
          {{ item.title }}
          <span class="lux-trust-bar__dot">✦</span>
        </span>
      {% endfor %}
    </div>
  </div>
</div>
